@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

/* ... (seu código do tailwind que já estava aqui) */

@layer utilities {
  /* Animação de entrada suave (Fade Up) */
  .animate-fade-up {
    animation: fadeUp 0.8s ease-out forwards;
    opacity: 0; /* Começa invisível */
  }

  /* Um pequeno atraso para elementos que vêm depois */
  .delay-200 {
    animation-delay: 0.2s;
  }
}

/* A definição dos movimentos da animação */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Começa um pouco mais para baixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

@keyframes pass-cart {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(500%);
  }
}

/* A classe sozinha não tem animação por padrão */
.animate-pass-cart {
  transform: translateX(-110%);
  display: none; /* Esconde para garantir que não apareça parado */
}

/* A animação só é aplicada e iniciada DO ZERO no hover do botão */
.group:hover .animate-pass-cart {
  display: block;
  animation: pass-cart 3s linear infinite;
}
